header {
    display: flex;
    justify-content: center;
    background-color: black;
    color: rgb(240,247,249);
    padding: 20px 0 20px 0;
}

@media (max-width: 815px) {
    h1 {
        text-align: center;
    }
}