.buttonFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    background-color: rgb(240,247,249);
    border: 1px solid grey;
    padding: 5px;
    margin: 10px; 
    font-family: 'Press Start 2P', cursive;
    width: calc(50% - 20px);
    color: black
}

.btn:hover {
    background-color: black;
    color: rgb(240,247,249);;
}

@media(max-width: 750px) {
    .btn {
        font-size: .8rem;
    }
}

@media(max-width: 485px) {
    .buttonFlex {
        flex-direction: column;
        
    }
    .btn {
        width: 100%;
    }
}